@model Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact me...</p>



<form method ="post">
    Voornaam: <input type="text" name="firstname" />
    Achternaam: <input type="text" name="lastname" />
    Gebooortedatum: <input type="text" name= "birthdate" />

    <input type="submit" value="Submit" />
</form>

@if (Model!= null)
{
    <p>Hallo @Model.Firstname  @Model.Lastname is een domme achternaam</p>
}

<p style="padding: 10px; border: 2px solid red;">Wij zijn het team van Dystopia. Via deze pagina kunt u gemakkelijk contact met ons opnemen en alle vragen stellen die u heeft. Vergeet zeker
    niet om eerst bij de FAQ te kijken voor de veelgestelde vragen om te kijken of we daar al antwoord hebben gegeven op uw vraag!

    Telefoonnummer: 0612345678

  
</p>