@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>


<h2> Frequently asked questions.</h2>

<h3>Met welk vervoersmiddel kan ik het beste bij de festivals komen?</h3>
  <p>Via tram 15 richting Hout-Noord en dan uitstappen op station Hout-zuid is de meest gekozen manier aangezien het station dicht bij het terrein ligt. 
   Verder kunt u er ook nog voor kiezen om met de auto te komen en te parkeren op ons betaalde parkeerterrein. Een ander gratis vervoersmiddel is nog 
   de fiets die u kunt neerzetten in onze gratis en bewaakte fietsenstalling.</p>

<h3>Wat is de minimum leeftijd toegestaan op de festivals?</h3>
  <p>Vanaf 16 jaar bent u welkom om bij ons te komen genieten van de festivals. Onder die leefijd is het helaas niet mogelijk om binnen te komen i.v.m. 
      het harde geluid van onder andere muziek en de schenking van alcohol. Wij zijn echter wel bezig om in de toekomst een festival voor kinderen te 
      organiseren!</p>

<h3>Moet ik een id meenemen naar de festivals?</h3>
  <p>Graag! Bij binnenkomst wordt uw id gevraagd waarna een bandje bij u om wordt gedaan. Dit bandje heeft een kleur: groen bij onder de 18 en rood bij boven de 18.
     Zo hoeven we bij het schenken van alcoholische dranken niet elke keer te vragen om uw id.</p>

<h3>Zijn er opbergplekken voor mijn spullen?</h3>
  <p>Zeker! Op het terrein zijn er meerdere kluisjes waar u uw spullen kunt opbergen. Deze kluisjes zijn ook nog eens bewaakt voor een extra gevoel van veiligheid.</p>

<h3>Mag ik mijn eigen voedsel/ drinken meenemen?</h3>
  <p>Nee helaas niet. De tassen worden aan het begin gecontroleerd en alle consumptie wordt verwijderd.</p>



<h3>Met welk vervoersmiddel kan ik het beste bij de festivals komen?</h3>
  <p>Via tram 15 richting Hout-Noord en dan uitstappen op station Hout-zuid is de meest gekozen manier aangezien het station dicht bij het terrein ligt. 
   Verder kunt u er ook nog voor kiezen om met de auto te komen en te parkeren op ons betaalde parkeerterrein. Een ander gratis vervoersmiddel is nog 
   de fiets die u kunt neerzetten in onze gratis en bewaakte fietsenstalling.</p>

<h3>Wat is de minimum leeftijd toegestaan op de festivals?</h3>
  <p>Vanaf 16 jaar bent u welkom om bij ons te komen genieten van de festivals. Onder die leefijd is het helaas niet mogelijk om binnen te komen i.v.m. 
      het harde geluid van onder andere muziek en de schenking van alcohol. Wij zijn echter wel bezig om in de toekomst een festival voor kinderen te 
      organiseren!</p>

<h3>Moet ik een id meenemen naar de festivals?</h3>
  <p>Graag! Bij binnenkomst wordt uw id gevraagd waarna een bandje bij u om wordt gedaan. Dit bandje heeft een kleur: groen bij onder de 18 en rood bij boven de 18.
     Zo hoeven we bij het schenken van alcoholische dranken niet elke keer te vragen om uw id.</p>

<h3>Zijn er opbergplekken voor mijn spullen?</h3>
  <p>Zeker! Op het terrein zijn er meerdere kluisjes waar u uw spullen kunt opbergen. Deze kluisjes zijn ook nog eens bewaakt voor een extra gevoel van veiligheid.</p>

<h3>Mag ik mijn eigen voedsel/ drinken meenemen?</h3>
  <p>Nee helaas niet. De tassen worden aan het begin gecontroleerd en alle consumptie wordt verwijderd.</p>
