@{
    ViewData["Title"] = "Home Page";
}


<article>
    <h1>Homepage</h1>
    <p>Welcome to the Ra ra banjo banjo page. Ra ra banjo banjo. Ra ra banjo banjo. Ra ra banjo banjo.</p>
    <p>(Ra ra banjo banjo)</p>
</article>

<div class="boxed">
  <h1>Aankomende festivals:</h1>
  <p>Welcome to the Ra ra banjo banjo page. Ra ra banjo banjo. Ra ra banjo banjo. Ra ra banjo banjo</p>
</div>

<div class="text-center">
  <ul>
    @foreach (var product in Model)
    {
      <li>@product.Naam - @product.Prijs - @product.Beschikbaarheid</li>
    }
  </ul>
</div>
