@{
    ViewData["Title"] = "Locatie";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- maakt een google maps dingie, ga naar maps, klik delen op een locatie, -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1429.3503728298795!2d-1.137526308592604!3d52.95074039016947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c3d9d62be991%3A0xb4ffca84b12c1624!2sFDAS!5e0!3m2!1snl!2snl!4v1647607754731!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>