<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navigation">
            <a href="/">Home</a>
            <a href="/Museum">Museum</a>
            <a href="/Privacy">Privacy</a>
            <a href="/Contact">Contact</a>
        </nav>
    </header>

    @RenderBody()

</body>
</html>