<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="main-nav">
            
            <a href="/"><img src="Home-icon.svg.png"/> </a>
         
            <a href="/Agenda">Agenda</a>
            <a href="/Festivals">Festivals</a>
            <a href="/Locatie">Locatie</a>
            <a href="/Contact">Contact</a>
            <a href="/FAQ">FAQ</a>
        </nav>        
    </header>

    @RenderBody()

    <footer>
         <nav class="main-footer">
             
             <div>Facebook</div>
             <div>Twitter</div>
             <div>Youtube</div>
         </footer>
</body>
</html>
